table.tbimage {
border-collapse: collapse;
width: 1%;
border-spacing: 0;
color: #000;
}
table.tbimage{
vertical-align: middle;
}
table.tbimage .image_desc {
text-align: center;
color: #000;
border-collapse: collapse;
padding: 5px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
}