/*style new category*/
/*style1*/
/*style comment*/
.comment-vote1a
{
    float: right;
    width: 25%;
}
.social-boxa
{
    display: block;
    float: right;
    width: 50px;
}
.social-boxr
{
    display: block;
    float: right;
    width: 50px;
}
img
{
    border: none;
}
.like-icon
{
    background-position: 0 -52px;
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 2px;
    margin-top: 3px;
    border: none;
}

.dislike-icon
{
    background-position: 0 -52px;
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 2px;
    margin-top: 7px;
    border: none;
}
.comment-info1
{
    width:99% !important;
    }

.comment-info-reply
{
    width: 94%;
    margin-left: 5%;
    padding-left: 5px;
    height: auto;
    border-left: 2px solid rgb(219, 188, 160);
    float: left;
    margin-bottom: 10px;
}
.comment-reply-box
{
    width: 100%;
    float: left;
}
.comment-r
{
    float: right;
    margin-right: 15px;
}
.bold-red
{
    color: Red;
    font-weight: bold;
    padding: 0 3px;
}
.comment-r-b
{
    float: left;
    display: block;
    width: 200px;
}
.comment-reply
{
    float: left;
    width: 50px;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: Green;
}
.comment-reply:hover
{
    color: RED;
    text-decoration: underline;
}
.span-ht
{
    float: left;
    width: 220px;
    display: block;
}
.span-email
{
    float: left;
    width: 440px;
    display: block;
}
.span-secure
{
    float: left;
    width: 90px;
    display: block;
}

#aViewComment
{
    float: right;
    background: none;
    font-size: 13px;
    text-transform: none;
    margin: 5px 5px 0 10px;
}
#aSendComment
{
    float: right;
    background: none;
    font-size: 13px;
    text-transform: none;
    margin: 5px 0 0 0;
}
#divListComment
{
    display: block;
float: left;
height: 400px;
overflow-y: scroll;
    }
.settop-wrap
{
    float:left;
    border-bottom:1px solid #E4BAA7;
    }